system/testvenv/
system/__pycache__/
system/build/
system/temp/
system/dist/predictor


surface/crop/
surface/wandb/
surface/dataset/
surface/dataset_/
surface/torachvision/
surface/env_3/
surface/TensorRT/
surface/pycuda-2019.1.2/
surface/onnx/
surface/TensorRT-7.2.3.4/
surface/TensorRT-7.2.3.4.Ubuntu-18.04.x86_64-gnu.cuda-10.2.cudnn8.1.tar.gz


## 이하 폴더는 보안상의 이유로 개별 관리
system/raw_data/
system/processed_data/
system/model/